.blue {
  color: blue;
}

.large {
  font-size: 2em;
}

.bordered {
  border: 2px dotted purple;
}

.rounded {
  border-radius: 10px;
}

#obi-wan {
  font-family: Helvetica;
  padding: 5px;
}

.red {
  color: red;
}